<!-- DATASOURCE NAME HEADER -->
{% if datasource_name %}
<div class="mb-3">
    <span class="badge bg-primary fs-6 px-3 py-2">
        <i class="las la-tag"></i> {{ datasource_name }}
    </span>
</div>
{% endif %}

<div class="d-flex justify-content-between align-items-center mb-3">

    <!-- FILTER -->
    <form
        hx-get="/datasource/{{ datasource_id }}/tables"
        hx-target="#tableContainer"
        hx-swap="innerHTML"
        class="row g-2 mb-3 align-items-end"
    >

        <!-- EARCH -->
        <div class="col-md-4">
            <label class="form-label small">Search</label>
            <input 
                type="text"
                name="search"
                class="form-control form-control-sm"
                placeholder="Search table name..."
            >
        </div>

        <!-- STATUS FILTER -->
        <div class="col-md-3">
            <label class="form-label small">Status</label>
            <select name="status_filter" class="form-select form-select-sm">
                <option value="all">All</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>

        <!-- SORT -->
        <div class="col-md-3">
            <label class="form-label small">Sort</label>
            <select name="sort_by" class="form-select form-select-sm">
                <option value="az">Name (A-Z)</option>
                <option value="za">Name (Z-A)</option>
            </select>
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="col-md-2">
            <button 
                type="submit" 
                class="btn btn-sm btn-primary w-100"
            >
                Apply
            </button>
        </div>

    </form>

</div>

{% if objects %}
<div id="tableContainer">
<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Table/Collection Name</th>
                <th width="220">Status</th>
                <th  width="280" class="text-nowrap">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr id="row-{{ obj }}">
                <td>{{ loop.index }}</td>
                <td>{{ obj }}</td>

                <td>
                    {% if configuration_data[obj]["status"] == "active" %}
                        <span class="badge bg-success">Active</span>
                    {% else %}
                        <span class="badge bg-secondary">Inactive</span>
                    {% endif %}
                </td>

                <td>
                    <button 
                        class="btn btn-sm btn-outline-primary"
                        hx-get="/datasource/{{ datasource_id }}/table/{{ obj }}/view"
                        hx-target="#viewModalContent"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#viewModal"
                    >
                        View
                    </button>

                    {% if configuration_data[obj]["status"] == "active" %}
                        <button 
                            class="btn btn-sm btn-outline-danger"
                            hx-post="/datasource/{{ datasource_id }}/table/{{ obj }}/toggle-status"
                            hx-vals='{"status": "inactive"}'
                            hx-target="#row-{{ obj }}"
                            hx-swap="outerHTML"
                        >
                            Deactivate
                        </button>
                        <!-- CONFIG BUTTON (ONLY WHEN INACTIVE) -->
                        <a 
                            href="/datasource/{{ datasource_id }}/{{ obj }}/configuration"
                            class="btn btn-sm btn-outline-secondary"
                        >
                            Config
                        </a>
                    {% else %}
                        <button 
                            class="btn btn-sm btn-outline-success"
                            hx-post="/datasource/{{ datasource_id }}/table/{{ obj }}/toggle-status"
                            hx-vals='{"status": "active"}'
                            hx-target="#row-{{ obj }}"
                            hx-swap="outerHTML"
                        >
                            Activate
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% else %}
    <div class="text-muted">
        No objects found.
    </div>
{% endif %}